---
---
.hero#roi-homepage-banner {
  background-image: url('/assets/img/reign-of-iron-banner.jpg');
  position: relative;
  .hero-content {
    z-index: 200;
  }
  h1 {
    margin-top: 0;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.65);
    z-index: 100;
  }
}
.memberList-header {
  padding: 1rem;
  border-bottom: 2px solid #ccc;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.member {
  border-bottom: 2px solid #ccc;
  padding: 1rem;
  h3 {
    margin: 0;
  }
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.member-icon {
  img {
    border-radius: 50%;
    display: block;
    height: 36px;
    width: 36px;
  }
  @media screen and (max-width: 767px) {
    img {
      height: 48px;
      margin: auto;
      width: 48px;
    }
  }
}
span.member-online {
  color: #C3423F;
  &.online {
    color: #4DAA57;
  }
}
