<footer class="roiFooter">
  <div class="content">
    <div class="j-col j-col-8">
      <span>Copyright ©<script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script> Reign of Iron. All Rights Reserved. All copyrights and trademarks remain property of their respective owners and are used for identification only.</span>
    </div>
    <div class="j-col j-col-3 push-1">
      <a href="https://www.bungie.net/en/ClanV2/Chat?groupid=2974952" class="button full-width" target="_blank" rel="noopener" title="Join Reign of Iron on PC">Join the Clan</a>
    </div>
  </div>
</footer>
