<section class="roiNav">
  <div class="j-row vertical-center-row space-between">
    <a class="roiNav-logo" href="/" title="Back to Reign of Iron Homepage">
      <img src="/assets/img/iron-logo-gold.png" alt="Reign of Iron" width="26" height="25">
      <strong>Reign of Iron</strong>
    </a>
    <div class="roiNav-trigger">
      <span></span>
      <span></span>
    </div>
    <nav>
      <ul>
        <li class="roiNav-item">
          <a href="{{"/roster/" | relative_url}}" title="Reign of Iron Clan Destiny 2 Roster" class="roiNav-link{% if page.url == '/roster/' %} is-current{% endif %}">Roster</a>
        </li>
        <li class="roiNav-item">
          <a href="{{"/crucible/" | relative_url}}" title="Reign of Iron Clan Destiny 2 Crucible Signups" class="roiNav-link{% if page.url == '/crucible/' %} is-current{% endif %}">Crucible</a>
        </li>
        <li class="roiNav-item">
          <a href="{{"/raids/" | relative_url}}" title="Reign of Iron Clan Destiny 2 Raid Signups" class="roiNav-link{% if page.url == '/raids/' %} is-current{% endif %}">Raids</a>
        </li>
        <li class="roiNav-item">
          <a href="{{"/maps/" | relative_url}}" title="Reign of Iron Clan Destiny2 PvP maps" class="roiNav-link{% if page.url == '/maps/' %} is-current{% endif %}">Maps</a>
        </li>
        <li class="roiNav-item">
          <a href="{{"/videos/" | relative_url}}" title="Reign of Iron Destiny 2 Gameplay Videos" class="roiNav-link{% if page.url == '/videos/' %} is-current{% endif %}">Videos</a>
        </li>
        <li class="roiNav-item">
          <a href="https://www.bungie.net/en/ClanV2/Chat?groupid=2974952" style="border-radius:0;" class="button" target="_blank" rel="noopener" title="Join Reign of Iron!">Join Us</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
