---
layout: default
title: Raid Signups
meta: "Online signup system for Destiny 2 PC clan Reign of Iron's raid schedule. Pick a time that works for you and sign up for Destiny 2 raids from any device."
style:
  - "raids.css"
js:
  - "raids.js"
---
<div id="loading" style="display: none;">
  <img src="/assets/img/loading.gif" alt="Loading...">
</div>
<section class="hero" id="raids-hero">
  <div class="content hero-content">
    <h1 class="white">Raid Signups</h1>
    <p class="white">Reign of Iron online raid signups</p>
  </div>
</section>
<section class="color-block dark-black">
  <div class="content">
    <div class="j-col j-col-10 push-1 centered">
      <span class="white type-big">Sign up for Reign of Iron raids! If you need to back out of a raid or edit your availability, please contact <span class="gold">@</span>kuro or <span class="gold">@</span>CanisMajoris in the clan Discord.</span>
    </div>
  </div>
</section>
<section class="color-block lighter-gray">
  <div class="content">
    <h4 class="gold centered j-col j-col-12" style="margin: 0 0 1.618rem;">Reign of Iron operates in <a style="border-bottom: 2px solid #e3d081; color: #e3d081;" href="http://www.thetimezoneconverter.com/" target="_blank" rel="noopener">Pacific Time</a></h4>
    <div class="j-col j-col-12" id="raid-signup">
      {% include html/signup-sheet.html day="Sunday" postto="AKfycbw1LmgSnTg_we4QJ4nZM0oGZtU2aOOrGIgssNI4agvQL8atpeYI" sheet="1SEO8BP6qn2_VV1GPJUP-pRTebtOov_kTS8LnKoN9ikw" %}
      {% include html/signup-sheet.html day="Monday" postto="AKfycbxeJrWv91_3Ahv7juaKJ8IN_bBcreecIu2A_jIA_DhITndEV7vH" sheet="1F_c21QQu8KYhz3P67t6QYYcp1i_nb_ySCLgGZoHqlP8" %}
      {% include html/signup-sheet.html day="Tuesday" postto="AKfycbzd7JwMek_PEK_X2anmO7fRPaWbY06uf3OLD-x6BJWlB-cYKls" sheet="1Ygnu5W0C9jxXP5BhHJOwe1_igGRH0vFA0eOrcNmeqyU" %}
      {% include html/signup-sheet.html day="Wednesday" postto="AKfycbzVtaTfD7-pzObHT5jbLR5HNt-wb4OfNvYd4Nq-Duq7U6kf4fAQ" sheet="1a7mA_OajsyKTXUmEN5_rxND3nXsUo1MOvlwq_Tqy5LM" %}
      {% include html/signup-sheet.html day="Thursday" postto="AKfycbz3zV7SjiTdiZiE3QCpXXHUuIvaggp79YeV3jZQwjUQubI340Y-" sheet="1t85MVLacGPm8ILPEMBY8i0ELsYTzk2wCOVkvIHbFyHY" %}
      {% include html/signup-sheet.html day="Friday" postto="AKfycbyAL3vZCKmKMiHNZ4l7l5UA4wpZs4pIOfyHzFCFsdfn9FAeLzw" sheet="1YqX0x56uLNuA1TxwejvHciCr7NRabFhroChZTksIu4w" %}
      {% include html/signup-sheet.html day="Saturday" postto="AKfycbyKsDFab1Cddc1ftYM0-qdICwJPce22F0hT2mr1dtRJ1CNYQUo2" sheet="1LkWZqSjkigTQN4czM6oxoEnB_1cN_BJoy9TVx1AX-zM" %}
    </div>
  </div>
</section>
